* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #e6dede;
}

.title {
    background-color: #443030;
    color: #e6dede;
    width: 100%;
    position: fixed;
    padding: 0.5% 0% 0.5% 2%;
    border-bottom: 1vh solid #514945;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.title>a {
    text-align: left;
    letter-spacing: 0.5rem;
    font-size: 2em;
}

.title>a:visited, .title>a:hover {
    color: inherit;
}

.titlebtns {
    text-align: right;
    justify-content: center;
    align-items: right;
    margin-right: 1%;
    flex: 20%;
}

.banner {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.menubar {
    background-color: #443030;
    width: 100%;
    padding: 0.5% 0% 0.5% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1vh solid #514945;
}

.menubtn {
    color: #fff07f;
    padding: 0.5% 1%;
    font-size: 1.05em;
}

.menubtn:hover {
    background-color: #4f4b64;
    color: #e6dede;
}